.container-list-reading{
	background-color: darkslategray;
	text-align: center;
	height: 100%;
}

.booksContainer{
	display: grid;
	grid-template-columns: repeat( auto-fit, 200px );
	gap: 1rem;
}

.list-reading{	
	position: relative;
	display: grid;
	grid-template-columns: auto;
	gap: 4rem;
	justify-items: center;
}


.book-of-list-reading{
	position: absolute;
}

.book-of-list-reading:hover{

}



.book img{
	height: 300px;
	width: 200px;
	border-radius: 10px;
}